<footer class="footer py-4">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-4 text-lg-start">Copyright &copy; www.bijugirls.com.br 2021</div>
          <div class="col-lg-4 my-3 my-lg-0">
              <a class="btn btn-social mx-2" href="#!">
                <img src="assets/img/twit.png" style="width: 55px;" alt="" />
              </a>
              <a class="btn btn-social mx-2" href="#!">
                <img src="assets/img/face.png" style="width: 55px;" alt="" />
              </a>
              <a class="btn btn-social mx-2" href="#!">
                <img src="assets/img/link.png" style="width: 55px;" alt="" />
              </a>
              <a class="btn btn-social mx-2" href="#!">
                <img src="assets/img/insta.png" style="width: 55px;" alt="" />
              </a>
          </div>
      </div>
  </div>
</footer>
