
<app-navbar></app-navbar>

<div class="container" style="padding-top: 8rem;">
  <div class="row">
    <div class="col-md-10">
      <div class="form-group div-form-group">
        <p-fileUpload 
          onSelect="onFileSelect($event)"
          chooseLabel="'Escolha o Arquivo'"
          showUploadButton="false"
          maxFileSize="1000000"
          customUpload="true" 
          multiple="false"
          name="imageFile" 
          accept="image/*">
          <ng-template pTemplate="content">
              <span *ngIf="selectedFile">
                {{selectedFile.name}} - {{selectedFile.size}} bytes
              </span>
          </ng-template>
        </p-fileUpload>
      </div>
    </div>  
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="form-group div-form-group">
        <label for="desc" class="form-label">Descri&ccedil;&atilde;o da Pe&ccedil;a</label>
        <input 
          [(ngModel)]="peca.descricao"
          class="form-control"
          type="text"
          id="desc"/>
      </div>
    </div>  
  </div>  
</div>

