
<app-navbar></app-navbar>

<section class="page-section" style="padding-top: 10rem;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-dark bt-home">
          Cadastrar Pe&ccedil;a
        </button>
      </div>
    </div>  
    <div class="row" style="margin-top: 15px;">
      <div class="col-md-6">
        <a routerLink="/tipoPeca">
          <button type="button" class="btn btn-dark bt-home">
            Cadastrar Tipo de Pe&ccedil;a
          </button>
        </a>
      </div>
    </div>  
  </div>
</section>