<section class="page-section">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Entre em contato conosco</h2>
        <h3 class="section-subheading" style="color: black;">
          &Eacute; muito importante para n&oacute;s sua opini&atilde;o.
        </h3>
      </div>
        <div class="row align-items-stretch mb-5">
          <div class="col-md-6">
            <div class="form-group" style="margin-bottom: 37px">
              <!-- Name input-->
              <span class="ui-float-label">
                <input 
                  class="form-control"   
                  placeholder="Informe seu nome"
                  type="text" 
                  id="name"/>
              </span>
              <div class="invalid-feedback"></div>
            </div>
            <div class="form-group" style="margin-bottom: 37px">
              <!-- Email address input-->
              <span class="ui-float-label">
                  <input 
                    placeholder="Informe seu E-mail"
                    type="text"
                    class="form-control"
                    id="email"/>
              </span>
              <div class="invalid-feedback"></div>
              <div class="invalid-feedback"></div>
            </div>
            <div class="form-group mb-md-0">
              <!-- Phone number input-->
              <span class="ui-float-label">
                  <input
                    type="text"
                    placeholder="Informe seu Telefone"
                    class="form-control"
                    mask="(99)99999-9999"
                    id="phone"/>
              </span>
              <div class="invalid-feedback"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-group-textarea mb-md-0">
              <!-- Message input-->
			        <textarea 
                id="message" 
                placeholder="Informe sua Mensagem"
                class="form-control"
              ></textarea>	
              
              <div class="invalid-feedback"></div>
            </div>
          </div>
        </div>
        <!-- Submit success message-->
        <!---->
        <!-- This is what your users will see when the form-->
        <!-- has successfully submitted-->
        <div class="d-none" id="submitSuccessMessage">
          <div class="text-center text-white mb-3">
            <div class="fw-bolder">Form submission successful!</div>
            To activate this form, sign up at
            <br />
            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
          </div>
        </div>
        <!-- Submit error message-->
        <!---->
        <!-- This is what your users will see when there is-->
        <!-- an error submitting the form-->
        <div class="d-none" id="submitErrorMessage">
          <div class="text-center text-danger mb-3">
            Ocorreu um erro ao tentar enviar a mensagem!
          </div>
        </div>
        
        <div class="text-center">
           <button type="button" class="btn btn-primary btn-xl text-uppercase">
               Enviar Mensagem
           </button>
        </div>
    </div>
  </section>
