
<section class="page-section" id="semijoias" style="padding-top: 2rem;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">semij&oacute;ias</h2>
            <div class="timeline-heading">
                <h4 class="subheading">
                        Veja nossa oferta de semij&oacute;ias.
                        Encontre a sua preferida.
                </h4>
            </div>
        </div>
       <!-- carrossel -->
        <p-carousel 
            [value]="pecasList" 
            [circular]="false"
            [numVisible]="3">
          <p-header></p-header>
          <ng-template let-peca pTemplate="item">
              <div class="car-details"> 
                  <div class="p-grid p-nogutter">
                      <div class="p-col-12" style="text-align:center;">
                        <img [src]="peca.imagePath" alt="" style="width:300px; height:300px;"/>
                      </div>
                      <div class="p-col-12" style="text-align:center;">
                        <div class="car-title">{{peca.descricao}}</div>
                        <div class="car-subtitle">R${{peca.formatedPreco}}</div>
                      </div>
                  </div>
              </div>
          </ng-template>
      </p-carousel>        
    </div>
 </section>
